#one{
    text-align: center;
    text-decoration: dotted;
    font-size: 28px;
    text-transform:uppercase;
    color:black
}
#two{
    text-align:center;
    font-family:capitalize;
}
p
{
    text-align:center;
    text-transform: capitalize;
    line-height: 28px;
    font-family: 'Times New Roman', Times, serif;
    color:coral;
}
a{
    text-decoration:none;
}
body{
    background-color: darkkhaki;
    background-image: image-set(albert einstien);
}
div{
    padding-left: 30px;
    height:100px;
    width:100px;
    border-radius: 50%;
    background-color: brown;
}

